<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2023 Amasty (https://www.amasty.com)
 * @package Customer Group Catalog for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    Change only price in cart with event observer-->
<!--    <event name="checkout_cart_product_add_after">-->
<!--        <observer name="customPriceInCart" instance="Tigren\CustomerGroupCatalog\Observer\CustomPrice" />-->
<!--    </event>-->

    <event name="sales_order_place_after">
        <observer name="orderPlaceAfter" instance="Tigren\CustomerGroupCatalog\Observer\OrderPlaceAfter" />
    </event>
</config>
